body {
  background-color: #141414;
}

nav {
  background-image: linear-gradient(black, #141414);
}

nav img {
  width: 100px;
}

.logo img {
  width: 110px;
}

.settings button {
  font-size: 0.9rem;
}

.maturity h4 {
  font-size: 0.9rem;
  background-color: rgb(61, 61, 61);
}

.maturity h5 {
  font-size: 0.8rem;
}

.maturity button {
  font-size: 0.9rem;
  background-color: #141414;
}

.btn-group label {
  font-size: 1rem;
}

.btn-check {
  background-color: rgb(61, 61, 61);
}

.text-check h4 {
  font-size: 0.8rem;
}

.logo {
  position: relative;
}

.logo ion-icon {
  position: absolute;
  right: 100px;
  top: 86px;
}
